{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'points.detail' %}active{% endif %}"
           href="{{ url_for('points.detail') }}">详情</a>
        <a class="list-group-item list-group-item-action {% if request.endpoint == 'points.redeem' %}active{% endif %}"
           href="{{ url_for('points.redeem') }}">兑换</a>
      </div>
    </div>
    <div class="col-md-9 col-lg-10">
      {% block points_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
